@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Configurações gerais */
html, body {
    height: 100%;
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    background-color: #f6e5dd;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ae886d;
    color: #6d5d59;
    z-index: 1000;
}

.menu-items {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.menu-items.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    max-height: 80vh;
    overflow-y: auto;
    background-color: #ae886d;
    gap: 20px;
    z-index: 1000;
}

.menu-items a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
}

.menu-items a:hover {    
    transform: scale(1.1);
    transition: transform 0.2s ease;
}

/* Estilo do ícone de menu hambúrguer */
.menu-toggle {
    display: none;
    font-size: 1.8em;
    cursor: pointer;
    color: white;
}


/* Alinhamento do cabeçalho */
header {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza o conteúdo */
    justify-content: center;
    padding-top: 80px;
    text-align: center;
}

h1 {
    margin-bottom: 10px;
    color: #ae886d;
    font-size: 2em;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #ae886d;
    font-size: 2em;
    font-weight: 600;
}

p {
    font-size: 1.1em;
    color: #6d5d59;
}

li {
    color: #ae886d;
}

#contato p {
    text-align: center;
}

#procedimentos ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Duas colunas */
    gap: 15px; /* Espaçamento reduzido */
    max-width: 900px; /* Ajuste da largura máxima para centralizar melhor */
    margin: 0 auto; /* Centraliza a lista na página */
    padding: 0;
    list-style-type: none;
}

#contato ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

#procedimentos ul li {
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    font-size: 1.1em;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
}

#procedimentos ul li:last-child {
    grid-column: span 2; /* Ocupa ambas as colunas para centralizar */
    justify-self: center; /* Centraliza o conteúdo */
    margin-bottom: 20px;
}

#contato ul li {
    margin: 15px 0;
    padding: 15px;
    background-color: white;
    border-radius: 5px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2em;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

#procedimentos ul li:hover, #contato ul li:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

#profissionais {
    text-align: center;
    padding: 40px 5%;
    background-color: #f6e5dd;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#profissionais h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #ae886d;
    width: 100%;
    text-align: center;
}

.profissionais-lista {
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 100%;
    max-width: 1200px;
}

.profissional {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 350px; /* Limita a largura máxima dos cards de profissionais */
    text-align: center;
    transition: transform 0.2s ease;
}

.profissional:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.profissional img {
    width: 100%;
    height: auto;
    border-radius: 15px;  /* Faz a imagem ficar circular */
    max-width: 150px;
    margin-bottom: 15px;
    object-fit: cover;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);  /* Sombra ao redor da imagem */
}

.profissional h3 {
    font-size: 1.2em;
    margin: 10px 0;
    color: #ae886d;
}

.profissional p {
    font-size: 0.95;
    color: #6d5d59;
    margin-top: 10px;
}

a {
    color: #ae886d;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease;
}

/* Rodapé */
footer {
    background-color: #ae886d;
    color: white;
    padding: 10px;
    width: 100vw;
    text-align: center;
}

footer p {
    color: white;
}

section, header {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5 ease;
}

section.visible, header.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Menu oculto em telas menores */
@media (max-width: 768px) {
    body {
        margin: 0;
    }
    header {
        width: 100vw;
    }
    menu {
        width: 100vw;
        padding: 0;
        border: none;
        box-shadow: none;
        left: 0;
    }
    .menu-items {
        display: none;
    }

    .menu-items.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }

    .profissionais-lista {
        flex-direction: column; /* Coloca as divs em coluna */
        align-items: center; /* Centraliza as divs na tela */
    }

    .profissional {
        max-width: 100%; /* Ajusta o tamanho da div para ocupar mais espaço */
        margin: 20px;
    }

    #procedimentos {
        max-width: 100%;
        padding: 0 15px; /* Margem interna nas laterais para afastar do limite da tela */
        box-sizing: border-box;
        margin: 0 auto;
    }

    #procedimentos ul {
        grid-template-columns: 1fr; /* Uma coluna em telas menores */
        padding: 0 10px;
        gap: 15px;
        max-width: 100%;
    }

    #procedimentos ul li {
        background-color: white;
        padding: 15px;
        border-radius: 5px;
        font-size: 1.1em;
        transition: transform 0.2s ease, box-shadow 0.2s ease;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    }

    #contato ul li {
        background-color: white;
        padding: 15px;
        margin-left: 15px;
        margin-right: 15px;
        border-radius: 5px;
        font-size: 1.1em;
        transition: transform 0.2s ease, box-shadow 0.2s ease;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);  
    }

    footer {
        width: 100vw;
        left: 0;
    }
}
