@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Configurações gerais */
html, body {
    height: 100%;
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    background-color: #f6e5dd;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: #ae886d;
    color: #6d5d59;
    z-index: 1000;
}

.logo-menu {
    font-size: 1.41em;
    font-weight: bold;
    color: white;
}

.menu-items {
    display: flex;
    gap: 3px;
    flex-wrap: wrap;
    font-size: 1.2em;
}

.menu-items.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    max-height: 80vh;
    overflow-y: auto;
    background-color: #ae886d;
    gap: 20px;
    z-index: 1000;
}

.menu-items a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
    padding: 5px 10px;
}

.menu-items a:hover {    
    transform: scale(1.1);
    transition: transform 0.2s ease;
}

/* Estilo do ícone de menu hambúrguer */
.menu-toggle {
    display: none;
    font-size: 1.8em;
    cursor: pointer;
    color: white;
}


/* Alinhamento do cabeçalho */
header {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza o conteúdo */
    justify-content: center;
    padding-top: 120px;
    text-align: center;
}

h1 {
    font-size: 3em;
    font-weight: 700;
    color: #ae886d; /* Cor quente e acolhedora para o título */
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #ae886d;
    font-size: 2em;
    font-weight: 600;
}

p {
    font-size: 1.2em;
    line-height: 1.7;
    color: #6a4f3a;
    margin-bottom: 30px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    background-color: #ae886d; /* Cor da ação */
    color: white;
    padding: 15px 30px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #8c6b51; /* Efeito de hover para deixar o botão mais interativo */
}

li {
    color: #ae886d;
}

#contato {
    padding: 40px 20px;
    text-align: center;
}

#contato h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #6d5d59;
}

.contato {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.contato-profissional {
    flex: 1 1 45%;
    min-width: 300px;
    max-width: 500px;
    height: 300px;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os itens horizontalmente */
    justify-content: center; /* Centraliza os itens verticalmente */
    margin-top: 50px;
    margin-bottom: 50px;
}

.contato-profissional .logo {
    width: 50%;
    height: auto;
    margin-bottom: 10px;
}

.contato-profissional p {
    font-size: 1.2em;
    font-weight: bold;
    color: #6d5d59;
    margin: 10px 0;
}

.contato-profissional:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.botoes-contato a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333; /* Mude a cor conforme necessário */
    margin: 5px 0;
    font-size: 16px;
}

.botoes-contato i {
    margin-right: 8px;
    font-size: 18px;
}

.botao-whatsapp, .botao-instagram {
    text-decoration: none;
    padding: 10px 20px;
    color: #fff;
    border-radius: 25px;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.botao-whatsapp {
    background-color: #25D366;
}

.botao-instagram {
    background-color: #E4405F;
}

.botao-whatsapp:hover {
    background-color: #1DA851;
}

.botao-instagram:hover {
    background-color: #9B2060;
}

.logo {
    width: 80px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 15px;
}

#procedimentos {
    margin-top: 70px;
}

#procedimentos ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Duas colunas */
    gap: 15px; /* Espaçamento reduzido */
    max-width: 900px; /* Ajuste da largura máxima para centralizar melhor */
    margin: 0 auto; /* Centraliza a lista na página */
    padding: 0;
    list-style-type: none;
}

#procedimentos ul li {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    font-size: 1.1em;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
}

#procedimentos ul li:last-child {
    grid-column: span 2; /* Ocupa ambas as colunas para centralizar */
    justify-self: center; /* Centraliza o conteúdo */
    margin-bottom: 20px;
}

#procedimentos ul li:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

#profissionais {
    text-align: center;
    padding: 40px 5%;
    background-color: #f6e5dd;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#profissionais h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #ae886d;
    width: 100%;
    text-align: center;
}

.profissionais-lista {
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 100%;
    max-width: 1200px;
}

.profissional {
    flex: 1 1 60%;
    min-width: 350px;
    max-width: 600px;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza horizontalmente o conteúdo */
    justify-content: space-between;
}


.profissional:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.profissional img {
    width: 100%;
    height: auto;
    border-radius: 15px;  /* Faz a imagem ficar circular */
    max-width: 170px;
    margin-bottom: 20px;
    justify-content: center;
    gap: 10px;
    display: flex;
    object-fit: cover;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);  /* Sombra ao redor da imagem */
}

.profissional h3 {
    font-size: 1.2em;
    margin: 10px 0;
    color: #ae886d;
}

.profissional p {
    font-size: 0.95;
    color: #6d5d59;
    margin-top: 10px;
}

a {
    color: #ae886d;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease;
}

/* Rodapé */
footer {
    background-color: #ae886d;
    color: white;
    padding: 10px;
    width: 100vw;
    text-align: center;
}

footer p {
    color: white;
}

section, header {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5 ease;
}

section.visible, header.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Menu oculto em telas menores */
@media (max-width: 768px) {
    body {
        margin: 0;
    }
    header {
        padding-top: 100px;
        padding-left: 20px;
        padding-right: 20px;
    }
    menu {
        width: 100vw;
        padding: 0;
        border: none;
        box-shadow: none;
        left: 0;
        align-items: center;
        justify-content: center;
    }
    #inicio h1 {
        font-size: 2em;
    }
    #inicio p {
        font-size: 1em;
    }
    .btn {
        padding: 12px 25px;
        font-size: 1em;
    }
    .menu-items {
        display: none;
        flex-direction: column;
        gap: 15px;
    }

    .menu-items.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }

    .profissionais-lista {
        flex-direction: column; /* Coloca as divs em coluna */
        gap: 20px;
    }

    .profissional {
        max-width: 100%; /* Ajusta o tamanho da div para ocupar mais espaço */
        margin: 20px;
    }

    #procedimentos {
        max-width: 100%;
        padding: 0 15px; /* Margem interna nas laterais para afastar do limite da tela */
        box-sizing: border-box;
        margin: 0 auto;
        margin-top: 50px;
    }

    #procedimentos ul {
        grid-template-columns: 1fr; /* Uma coluna em telas menores */
        padding: 0 10px;
        gap: 15px;
        max-width: 100%;
    }

    #procedimentos ul li {
        background-color: white;
        padding: 15px;
        border-radius: 5px;
        font-size: 1.1em;
        transition: transform 0.2s ease, box-shadow 0.2s ease;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    }

    #contato {
        font-size: 1 1 100%;
        max-width: 100%;
        height: auto;
    }

    footer {
        width: 100vw;
    }
}
